<div class="navbar">
    <a href="{{ '/' | relative_url }}" class="navbrand navlinks">&gt; {{ site.author }}</a>
    <div class="navright">
        <a href="{{ '/projects/' | relative_url }}" class="navlinks{% if page.url == '/projects/' %} active{% endif %}">projects</a> /
        <a href="{{ '/blog/' | relative_url }}" class="navlinks{% if page.url == '/blog/' %} active{% endif %}">blog</a> /
        <a href="{{ '/portfolio/' | relative_url }}" class="navlinks{% if page.url == '/portfolio/' %} active{% endif %}">portfolio</a>
    </div>
</div>
